#pane:hover{
	-fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #dc143c, #32cd32);
}
#pane{
	-fx-background-color: #55f063;
	-fx-background-radius: 15 15 15 15;
}

#button:hover{
	-fx-background-color: linear-gradient(from 10px 15px to 25px 35px, #daea3c, #06b298);
}
#button{
	-fx-background-color: #6de4e6;
}

#buttonPower:focused{
	-fx-image: url("../img/power3.png");
}
#buttonPower:hover{
	-fx-image: url("../img/power2.png");
}
#buttonPower{
	-fx-image: url("../img/power.png");
}