.text-field-correct:focused {
    -fx-background-color: #d3fefc;
}

.text-field-correct:hover {
	-fx-background-color: #45adbe;
}

.text-field-correct {
	-fx-background-color: #f5ebcb;
}


.text-field-error{
	-fx-background-color: #FF0000;
}
.text-field-correct {
	-fx-background-color: #f5ebcb;
}

#buttonLogin:hover {
	-fx-background-color: #d3fefc;
}

#buttonRegister:hover {
	-fx-background-color:  #d3fefc;
}

#registerButton:hover {
	-fx-background-color: #d3fefc;
}

#cancelButton:hover {
	-fx-background-color: #d3fefc;
}



#buttonLogin {
	-fx-background-color: #ef663d;
}

#buttonRegister {
	-fx-background-color:  #fe8a69;
}

#registerButton {
	-fx-background-color:  #fe8a69;
}

#cancelButton {
	-fx-background-color:  #fe8a69;
}


