.button:hover {
	-fx-background-color: #45adbe;
}
.button{
	-fx-background-color: #55f063
}
#pane {
	-fx-background-color: #d8c159;
	-fx-background-radius: 18 18 18 18;
	-fx-border-radius: 18 18 18 18;
    -fx-border-width: 2;
    -fx-border-color: #1e85d5;
}
