.piece-movable-destination:hover{
  -fx-border-style: solid;
  -fx-border-color: orange;
  -fx-border-width: 2; 
  -fx-cursor: hand; 
  
}
.piece-movable:hover {
  -fx-border-style: solid;
  -fx-border-color: red;
  -fx-border-width: 2; 
  -fx-cursor: hand; 
  
}
.piece-movable.clicked{
	-fx-border-color: white;
	-fx-border-width: 2;
	-fx-cursor: pointer; 
	
}
.board-background{
	
	-fx-background-color: #009d3c;
}

#buttonPower:focused {
	-fx-image: url("../img/power3.png");
}
#buttonPower:hover {
	-fx-image: url("../img/power2.png");
}
#buttonPower {
	-fx-image: url("../img/power.png");
}