#paneChooseLevel:hover {
	-fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #dc143c, #32cd32);
}
#paneChooseLevel{
	-fx-background-color: #55f063;
	-fx-background-radius: 15 15 15 15;
}

#buttonPlay:hover {
	-fx-background-color : linear-gradient(from 25px 25px to 100px 100px, #daea3c, #06b298);
}
#buttonPlay {
	-fx-background-color : #6de4e6;
}

#buttonPower:focused {
	-fx-image: url("../img/power3.png");
}
#buttonPower:hover {
	-fx-image: url("../img/power2.png");
}
#buttonPower {
	-fx-image: url("../img/power.png");
}